/*FRONT RUNNERS */

@font-face {
  font-family: 'blackthorns';
  src: url('./../assets/fonts/blackthorns.ttf');
}

@font-face {
  font-family: 'tesla';
  src: url('./../assets/fonts/TESLA.ttf');
}

@font-face {
  font-family: 'Wildwood-Italic';
  src: url('./../assets/fonts/Wildwood-Italic.otf');
}

/* MAYBE */

@font-face {
  font-family: 'Blacksword';
  src: url('./../assets/fonts/Blacksword.otf');
}

@font-face {
  font-family: 'Brown Fox';
  src: url('./../assets/fonts/Brown Fox.ttf');
}
@font-face {
  font-family: 'Dead Stock';
  src: url('./../assets/fonts/Dead Stock.ttf');
}



@font-face {
  font-family: 'AVENGEANCE';
  src: url('./../assets/fonts/AVENGEANCE.ttf');
}






.hero {
    background-image: url("./../assets/images/hero2.jpg");

    
    background-color: #5BC0EB;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom: 2px solid;
}

.hero__title {
    padding: 0px;
    font-size: 10rem;
      text-shadow: 3px 3px black;
      font-family: 'blackthorns';

    
    
}

.hero__subtitle {
    padding: 0px;
    font-size: 5rem;  
      text-shadow: 3px 3px black;
      font-family: 'blackthorns';
        

    
    
}

.hero__text-container {
    color:white;
    position: relative;
    transform: translateY(-50%);
    opacity: 0;
    
    top: 0px;
}

.hero__text-container-visible {

    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: .5s;
    
}

@-webkit-keyframes slide {

    100% { top: 45%;
    opacity: 1;
     }
}

@keyframes slide {
   
    100% { top: 45%;
    opacity: 1;
     }
}
