/*FRONT RUNNERS */

@font-face {
  font-family: 'blackthorns';
  src: url('./../assets/fonts/blackthorns.ttf');
}

@font-face {
  font-family: 'tesla';
  src: url('./../assets/fonts/TESLA.ttf');
}

@font-face {
  font-family: 'Wildwood-Italic';
  src: url('./../assets/fonts/Wildwood-Italic.otf');
}

/* MAYBE */

@font-face {
  font-family: 'Blacksword';
  src: url('./../assets/fonts/Blacksword.otf');
}

@font-face {
  font-family: 'Brown Fox';
  src: url('./../assets/fonts/Brown Fox.ttf');
}
@font-face {
  font-family: 'Dead Stock';
  src: url('./../assets/fonts/Dead Stock.ttf');
}

@font-face {
  font-family: 'AVENGEANCE';
  src: url('./../assets/fonts/AVENGEANCE.ttf');
}

.hero {
  height: 100vh;
  border-bottom: 2px solid;
}
.hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
  display: block;
  background-image: url("./../assets/images/hero2.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  animation-duration: 10s;
  animation-name: image;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* @keyframes image {
  from {
    filter: blur(0px);

    filter: sepia(0%);
  }

  to {
    filter: blur(5px);

    filter: sepia(55%);
  }
} */

.hero__title {
  padding: 0px;
  font-size: 10rem;
  text-shadow: 3px 3px #323031;
  font-family: 'blackthorns';
}

.hero__subtitle {
  padding: 0px;
  font-size: 5rem;
  text-shadow: 3px 3px #323031;
  font-family: 'blackthorns';
}

.hero__text-container {
  color: #f2efe9;
  position: relative;
  transform: translateY(-50%);
  opacity: 0;

  top: 0px;
}

.hero__text-container-visible {
  -webkit-animation: slide 2s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 2s forwards;
  animation-delay: .5s;
}

@-webkit-keyframes slide {
  100% {
    top: 45%;
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    top: 45%;
    opacity: 1;
  }
}
