.navigation__link {
margin:10px;
color:white;
}
.navigation__link a {
color:white;
}

.navigation__link-container {
    display: flex;
    float: right;

}

.fixed {

    position: fixed;
    width: 100%;
    transition: all .5s ease;
    height: 52.22px;

}
