.portfolio__container {
  background-color: #f2efe9;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.portfolio__item {
  margin: 10px 5px 10px 5px;

  display: flex;
  box-shadow: 3px 3px #323031;
}

.portfolio__title-container {
  display: flex;
  text-align: left;
  margin-left: 5px;

  align-items: baseline;
}

.portfolio__title {
  font-size: 4rem;
  margin-right: 10px;
  
}

.portfolio__title:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #e95420;
  display: inline-block;
  margin-right: 10px;
  text-indent: -12px;
  border-radius: 12px;
}

.portfolio__subtitle {
  font-size: 2rem;
}

.portfolio__item img {
  width: 300px;
  height: 300px;
}
.portfolio__item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__item-info {
  opacity: 0;
  position: absolute;
  background-color: black;
  padding-top: 20px;
  width: 300px;
  height: 300px;
  transition: opacity 1s;
}

.portfolio__item-container-blocked {
  pointer-events: none;
}

.portfolio__item-info:hover {
  background-color: black;
  color: white;
  opacity: .75;
  transition: opacity 1.5s;
}
