.portfolio__container {
background-color: #5BC0EB;
}

.portfolio__item {
  margin:20px;

  display: flex;
}

.portfolio__title {
  text-align: left;
  margin-left: 20px;

}

.portfolio__item img{
  width: 250px;
  height: 250px;

}
.portfolio__item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.portfolio__item-info {
  opacity: 0;;
position: absolute;
  background-color: black;
  width: 250px;
  height: 250px;
  transition: opacity 1s;

}


.portfolio__item-info:hover {
  background-color: black;
  color: white;
  opacity: .75;
  transition: opacity 1.5s;
}
