.skills {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
  padding: 30px 0px 30px 0px;
  display: block;
  position: relative;
  min-height: 70vh;
}

.skills__icon-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills__icon {
  margin: 20px 20px 20px 2%;
  flex-grow: 1;
  width: calc(100% * (1/4) - 10px - 1px);
}

.skills__icon > img {
  width: 100px;
  height: 100px;
}

.skills__title-container {
  margin: 20px 20px 20px 2%;
  display: flex;
  text-align: left;
  color: #f2efe9;
  align-items: baseline;
}

.skills__title {
  font-size: 4rem;
  margin-right: 10px;
}

.skills__title:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #e95420;
  display: inline-block;
  margin-right: 10px;
  text-indent: -12px;
  border-radius: 12px;
}

.skills__subtitle {
  font-size: 2rem;
}

@media (max-width: 600px) {
  .skills__title {
    font-size: 3rem;
    margin-right: 7px;
  }
  .skills__subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .skills__title {
    font-size: 2rem;
  }
  .skills__subtitle {
    font-size: 1rem;
  }
}
