.skills {
  margin-bottom: 20px;
  justify-content: center;
  background-image: url("./../assets/images/skills.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.skills__icon-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills__icon {
  margin: 20px 20px 20px 2%;
  flex-grow: 1;
  width: calc(100% * (1/4) - 10px - 1px);
}

.skills__icon > img {
  width: 100px;
  height: 100px;
}

.skills__title-container {
  margin: 20px 20px 20px 2%;
  display: flex;
  text-align: left;
  color: white;
  align-items: baseline;
}

.skills__title {
  font-size: 4rem;
  margin-right: 10px;
}

.skills__title:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #e95420;
  display: inline-block;
  margin-right: 10px;
  text-indent: -12px;
  border-radius: 12px;
}

.skills__subtitle {
  font-size: 2rem;
}
